* {
	margin:0;
}


body {
	font-family: 'Open Sans', sans-serif;
	color:#ffffff;
	background-color: #6c7e96;
}


main {
	max-width:1000px;
	padding:0 20px 0 20px;
	margin: 0 auto;
}


/*******************
       FONTS
*******************/

h1 {
	font-weight:400;
	font-size: 22px;
	padding:50px 0 50px 0;
}


p {
	font-size:18px;
	font-weight:300;
	line-height:26px;
	padding:0 10px 50px 10px;
}

footer p {
	font-size:12px;
	padding-top:30px;
}

/*******************
      BUTTONS
*******************/

.buttons {
	display:inline-block;
	background-color:#ffffff;
	color:#ff33cc;
	border:0;
	width:180px;
	font-family: 'Questrial', sans-serif;
	font-size:20px;
	padding:10px 0 10px 0;
	margin:20px 10px 0 10px;
	text-decoration:none;
	cursor:pointer;
}

.buttons:hover {
	color:#f685da;
}

/*******************
        FORM
*******************/

 #signup {
 	display:none;
 	background-color:#546478;
 	padding:20px 30px 30px 30px;
 }

 #fullname, #email {
 	width:200px;
 	height:25px;
 	padding-left:10px;
 	font-family: 'Questrial', sans-serif;
 	font-size:15px;
 	margin-bottom:10px;
 }

.pink-button {
	display:inline-block;
	background-color:#ff33cc;
	color:#ffffff;
	border:0;
	width:180px;
	font-family: 'Questrial', sans-serif;
	font-size:20px;
	padding:10px 0 10px 0;
	margin:20px 10px 0 10px;
	text-decoration:none;
	cursor:pointer;
}


/*******************
       IMAGES
*******************/

img {
	display:block;
	margin:auto;
	padding:65px 0 45px 0;
}


/*******************
      DIVIDERS
*******************/

hr {
	border:0;
	border-top: 1px solid #ffffff;
	width:210px;
	margin:auto;
}


/*******************
       MISC
*******************/

.center {
	max-width:750px;
	text-align:center;
	margin:auto;
}


